/* .alignleft{
    text-align: left;
}
.width{
    display: block;
    width: 100%
}


.form{
    background-color: rgba(255, 255, 255, 0.4);
    width: min-content;
    border-radius: 20px;
    padding: 20px 50px;
    width: 534px;
    overflow: hidden;

}

.form .location, .form .now{

    width: 100%;
    display: block;
    
}

.form .location{
    display: flex;
    align-items: center;
    gap:5px
}
.form .degree{
    font-size: 3rem;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.form .icons{
    display: flex;
    flex-direction: column;
    width: min-content;
    font-size: 0.8rem;

}
.form .icons > img{
   max-width: 100px;
   max-width: 100px;
   min-width: 40px;

}
.form .slider{
    display:  flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 31px 0;
    padding: 10px;
}
.form .slider .icons .text{
    min-height: 20%;
}
.form .slider .icons .date{
    min-height: 33%;
} */