.bigfont{
    font-size: 3rem
}
.textAlignLeft{
    text-align: left;
}
.opacitycolor{
    color: rgba(255, 255, 255, 0.7)
}
a{
    text-decoration: none;
    color: black;
    background-color: rgb(240, 255, 255, 0.8);
    padding: 10px 10px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0
}

.container .header{
  display: grid;
  grid-template-columns: auto auto; /* Два столбца */
  grid-template-rows: auto auto; /* Две строки */
  gap: 10px; /* Пространство между элементами */
  padding: 0 10%;
}
.container .degree{
    grid-column: 1 / 2; /* Занимает первый столбец */
    grid-row: 1 / 2; /* Занимает первую строку */
}
.container img{
    grid-column: 2 / 3; /* Занимает второй столбец */
    grid-row: 1 / 3; /* Занимает две строки */
}
.container .location{
    grid-column: 1 / 2; /* Занимает первый столбец */
    grid-row: 2 / 3; /* Занимает вторую строку */
   
}

.container .location > div{
    display: flex;
    align-items: center;
    gap:5px
}
.container .location > span{
    width: 100%;
    display: block;

}
.container{
    overflow: hidden;
    width: 80%
}
.container .body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .body .hours{
    display: flex;
    align-items: center;
    max-width: 80%;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 50px;
}
.container .body .forecast .row{
    display: flex;
    gap: 10px;
    align-items: center;
}
.container .body .forecast .row >span{
    min-width: 20px
}
.container .body .forecast .row >span:first-child{
    margin-right: 20px;
}
